$planet-size: 150px;
*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
}

body {
	font-family: Roboto, sans-serif;
	background: #111 url(../img/Stars.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.planet {
	width: $planet-size;
	height: $planet-size;
	border-radius: $planet-size;
	display: block;
	margin: 50px;
	margin-bottom: 100px;
	background: #64a0ff;
	position: relative;
	transition: all 250ms ease;
	//Gradient fade
	&:after {
		position: absolute;
		content: "";
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(transparent, #000);
		border-radius: $planet-size;
		opacity: 0.1;
		transition: all 100ms ease;
	}
	&:hover {
		cursor: pointer;
		box-shadow: 0 0 0 5px #111, 0 0 0 10px #eee;
		&:after {
			opacity: 0.2;
		}
	}
	&:active,
	&:focus {
		transition: all 50ms ease;
		box-shadow: 0 0 0 7px #111, 0 0 0 10px #85a6db;
		transform: scale(1.025);
		&:before {
			box-shadow: 0 0 5px #000;
		}
	}
	//Tooltip
	> figcaption {
		$bg: rgba(163, 163, 230, 0.5);
		position: absolute;
		padding: 10px;
		display: block;
		top: 25%;
		left: 100%;
		margin-left: 20px;
		border-radius: 5px;
		border-top-left-radius: 0;
		width: 250px;
		min-height: 100px;
		background: $bg;
		color: #fff;
		transition: all 100ms ease;
		z-index: 1;
		-webkit-filter: drop-shadow(0 0 3px #0af);
		filter: drop-shadow(0 0 3px #0af);
		&:before {
			z-index: 1;
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			margin-left: -20px;
			border: 10px solid transparent;
			border-right-color: $bg;
		}
		table {
			width: 100%;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 300;
}